In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv('train.csv')

In [3]:
df_categorical = df.select_dtypes(include='object')

In [4]:
df_categorical

,gender,ethnicity,education_level,income_level,smoking_status,employment_status
0,Female,Hispanic,Highschool,Lower-Middle,Current,Employed
1,Female,White,Highschool,Upper-Middle,Never,Employed
2,Male,Hispanic,Highschool,Lower-Middle,Never,Retired
3,Female,White,Highschool,Lower-Middle,Current,Employed
4,Male,White,Highschool,Upper-Middle,Never,Retired
...,...,...,...,...,...,...
699995,Female,Hispanic,Postgraduate,Upper-Middle,Former,Employed
699996,Female,Hispanic,Graduate,Upper-Middle,Former,Employed
699997,Female,White,Graduate,Middle,Never,Employed
699998,Female,White,Highschool,Lower-Middle,Never,Retired
699999,Female,Black,Graduate,Low,Former,Employed

In [5]:
df_categorical['gender'].value_counts()

gender
Female    363237
Male      333085
Other       3678
Name: count, dtype: int64

In [6]:
df_categorical['ethnicity'].value_counts()

ethnicity
White       386153
Hispanic    129984
Black       106301
Asian        60120
Other        17442
Name: count, dtype: int64

In [7]:
df_categorical['education_level'].value_counts()

education_level
Highschool      344145
Graduate        261268
Postgraduate     79642
No formal        14945
Name: count, dtype: int64

In [8]:
df_categorical['income_level'].value_counts()

income_level
Middle          290557
Lower-Middle    178570
Upper-Middle    127836
Low              85803
High             17234
Name: count, dtype: int64

In [10]:
df_categorical['smoking_status'].value_counts()

smoking_status
Never      494448
Current    103363
Former     102189
Name: count, dtype: int64

In [11]:
df_categorical['employment_status'].value_counts()

employment_status
Employed      516170
Retired       115735
Unemployed     49787
Student        18308
Name: count, dtype: int64

Gender and ethnicity can be one-hot encoded, \
education_level, income_level and smoking status can be oridnal encoded, \
employment should be one-hot encoded

In [ ]:
from sklearn.preprocessing import OrdinalEncoder, OneHotEncoder

In [56]:
one_hot_categories = [
    'gender', 'ethnicity', 'employment_status'
]
pd.get_dummies(df_categorical[one_hot_categories], dtype=int)

,gender_Female,gender_Male,gender_Other,ethnicity_Asian,ethnicity_Black,ethnicity_Hispanic,ethnicity_Other,ethnicity_White,employment_status_Employed,employment_status_Retired,employment_status_Student,employment_status_Unemployed
0,1,0,0,0,0,1,0,0,1,0,0,0
1,1,0,0,0,0,0,0,1,1,0,0,0
2,0,1,0,0,0,1,0,0,0,1,0,0
3,1,0,0,0,0,0,0,1,1,0,0,0
4,0,1,0,0,0,0,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
699995,1,0,0,0,0,1,0,0,1,0,0,0
699996,1,0,0,0,0,1,0,0,1,0,0,0
699997,1,0,0,0,0,0,0,1,1,0,0,0
699998,1,0,0,0,0,0,0,1,0,1,0,0
699999,1,0,0,0,1,0,0,0,1,0,0,0

In [ ]:
ordinal_categories = [
    ['No formal', 'Highschool', 'Graduate', 'Postgraduate'],
    ['Low', 'Lower-Middle', 'Middle', 'Upper-Middle', 'High'],
    ['Never', 'Former', 'Current']
]
ordinal_encoder = OrdinalEncoder(categories=ordinal_categories)
ordinal_encoder.fit_transform(df[['education_level', 'income_level', 'smoking_status']])

array([[1., 1., 2.],
       [1., 3., 0.],
       [1., 1., 0.],
       ...,
       [2., 2., 0.],
       [1., 1., 0.],
       [2., 0., 1.]])